.heading {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 80px;
  }
  
  .container {
    /* height: 260px; */
    /* width: 610% !important; */
    padding: 2% 8% 10% 8%;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(232, 231, 231, 0.5) 0%, rgba(232, 231, 231, 0) 100%);
    border: 1px solid #CFD3D2;
    margin: none;
  }
  
  .subtitle {
    color: #5D6560;
    margin-left: -230px;
  }
  
  .input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F5F5F5;
    margin-top: 10px;
  }
  
  .input-field > input{
    /* width: 214px; */
    height: 44%;
    /* padding: 1px !important; */
    border: 2px solid #52796F;
    border-radius: 10px;
    margin: 1% 2% !important;
  }
  
  .add-button {
    /* margin-left: -35px; */
    margin-top: -60px;
    /* width: 20px; */
    display:flex;
  }
  
  .common-btn {
    /* margin: 10%; */
    
    font-weight: bolder;
  }
  
  .empty-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  