.vectorResetPassword{
    display: inline-block;
    /* width: 2em; */
    height: 1.9em;
    border-radius: 40%;
    /* margin-left: 1.5em; */
    margin-bottom: 30% !important;
    margin-top: -10%;
    margin-left: 90%;
  }

.w-50{
  /* display: flex; */
  /* justify-content: space-between; */
  /* width: 50%; */
}

  /* ResetPassword.css */
.login-page {
  border-radius: 16px;
  /* margin-top: 10%; */
}

.form {
  border-radius: 16px;
  /* margin-top: 10%; */
  background-repeat: no-repeat;
  background-image: url('%PUBLIC_URL%/Assets/Images/RegisterLoginUser/other_bg.png');
  background-size: 100% 100%;
}

/* Add other styles */
.label-phone {
  text-align: left;
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 300;
  float: left;
  margin-top: 10%;
}

.button-reset-password {
  font-weight: 1000;
  text-align: left;
  font-style: normal;
  width: 80% !important;
  /* margin-bottom: 60%; */
}

.MainLogoDesign{
  margin: 5% 0 0 -70% !important;
}