  .form input, .form select {
    /* font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px; */
  }
 /*  */
 
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 600;
    text-underline-offset: 0px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
  
  
/* body{
    background: #f7f8f7; /* fallback for old browsers */
    /* background: rgb(253, 253, 253);
    background: linear-gradient(90deg, rgb(255, 255, 255), rgba(118,184,82,1) 90%); */
    /* background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */
    /* font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;       */
 

  .btnSpacing > button{
    margin-bottom: 10px;

  }


  svg {
    display: none !important;
    /* height: 5px; */
    /* width: 5px; */

  }

  .MuiIconButton-root-MuiAutocomplete-popupIndicator{

      /* display: none !important; */
      height: 10px;
      width: 10px;

  }