.headerClassContainer {
  /* display: flex; */
  margin-top: 1% !important;
  /* justify-content: space-between !important; */
  /* justify-content: space-between; */
  /* padding: 0rem 1rem; */
  /* width: 100vw; */
  /* padding: 0%; */
  /* align-items: center;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

.Headtitle {
  color: #1e0058;
  /* font-size: x-large; */
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  /* Styles specific to screens 600 pixels and wider go here */
  .Headtitle{
    font-size: 1.3rem;
  }
}

.logbtn-round {
  background-color: #d9d9d9 !important ;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 20%;
}

.logbtn-round-lett {
  /* color: #1E0058 !important; */
  /* font-size: large; */
  font-weight: bolder;
}

.letter {
  font-weight: bolder !important;
  color: black !important;
  font-size: 18px;
  margin-left: 7px;
}
.UserLoggedIn {
  display: flex;
  justify-content: space-between;
  padding: 3%;
  /* box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24) !important; */
  margin-top: -10px;
  border: none !important;
}

.MainLogo {
  padding: 3%;
}
